ul {
  padding: 0;
  margin: 0;
  display: flex;
}
ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
  white-space: nowrap;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

.active {
  color: rebeccapurple;
}

.first {
  color: aqua;
}
.indicator {
  background-color: brown;
  height: 2px;
  width: 2rem;
  margin-top: 2px;
}
