/* input {
  border: 1px dashed red;
} */
:host {
  display: flex;
  overflow-x: auto;
}
.container {
  background-color: #fff;
  padding: 5px 0;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  display: grid;
  place-content: stretch;
  place-items: center;
  grid-gap: 0.4rem;
  grid-auto-flow: row;
}
